
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.w-1440{
    width: 1440px;
    margin: 0 auto;
    background-color: black;
}
header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 30px;
    gap: 50px;
}
nav ul a{
    text-decoration: none;
    color: #E9E3DC;
    font-family: "Bowlby One", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;

    }

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
header button{
    width: 203px;
    height: 60px;
    flex-shrink: 0;
    background: #B3A0CD;
    color: #1E1E1E;
    font-family: "Bowlby One",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    margin-right: 50px;
}
.organicHamburger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: #E9E3DC;
    width: 1255px;
    text-align: center;
    font-family: "Bowlby One",sans-serif;
    font-size: 107.088px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%; /* 95.198px */
    letter-spacing: -2.142px;
    text-transform: uppercase;
    margin-top: 85px;
    margin-bottom: 33px;

}

.blockAboutUs{
    display: flex;
    width: 1340px;
    height: 369px;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    border: 4px #1E1E1E;
    background: #D1EF53;
    margin: 32px 50px 64px 50px ;
}
h2{
    color: #1E1E1E;
    width: 533px;
    font-family: "Bowlby One",sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 88.896%; /* 62.228px */
    letter-spacing: -1.4px;
    text-transform: uppercase;
}
p{
    color: #1E1E1E;
    width: 521px;
    height: 75px;
    flex-shrink: 0;
    font-family: Inter,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 139.896%; /* 33.575px */
    letter-spacing: -0.48px;
}
.blockAboutUs .about-us button{
    width: 176px;
    height: 60px;
    flex-shrink: 0;
    border: 4px #1E1E1E;
    background: #E9E3DC;

    /* DropShadow */
    box-shadow: 8px 8px 0 0 #000;
    color: #1E1E1E;

    text-align: center;
    font-family: "Bowlby One",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
}
.foods{
    display: flex;
    justify-content: space-evenly;
    margin-bottom:64px;
}
.orders{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.orders img{
    border-radius: 30px;
    border: 4px #D9D9D9;
    width: 1340px;
    height: 503px;
    flex-shrink: 0;

}

h3{
    color: #E9E3DC;
    width: 895px;
    text-align: center;
    font-family: "Bowlby One",sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 101.896%; /* 71.328px */
    text-transform: uppercase;
    margin-top: 64px;;
}

.orders button{
    background: #D1EF53;
    width: 196px;
    height: 60px;
    flex-shrink: 0;
    color: #1E1E1E;
    margin-top: 33px;
    margin-bottom: 36px;

    text-align: center;
    font-family: "Bowlby One",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;}

