*{
    margin: 0;
    padding: 0;
}
header{
    width: 100vw;
    height: 20vh;
    background-color:#8D8484 ;

}
.flex{
    width: 100vw;
    height: 60vh;
    display: flex;
}
main{
    width: 73vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
}
article{
    width: 27vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
}
.content-1{
    width: 73vw;
    height: 20vh;
    background-color:#776969 ;

}
.content-2{
    width: 73vw;
    height: 20vh;
    background-color:#643030; ;

}
.content-3{
    width: 73vw;
    height: 20vh;
    background-color:#441818 ;

}
.spam-1{
    width: 27vw;
    height: 30vh;
    background-color:#937575; ;
}
.spam-2{
    width: 27vw;
    height: 30vh;
    background-color:#644C4C ;
}
footer{
    width: 100vw;
    height: 20vh;
    background-color:#BDBDBD;
}
p{
    font-size: 25px;
    color: white;
}
header, section, footer{
    display: flex;
    justify-content: center;
    align-items: center;
}